/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

* {
    font-family:Arial, Helvetica, sans-serif;
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
/*  Custom css begins here  */

/*#region index*/
.indexForm {
    margin-top: 10%;
    height: 34%;
    margin-left: 29%;
    text-align: center;
    width: 40%;
}

.mePicture {
    margin-top: 4%;
    margin-right: 43%;
    height: 40%;
    max-height: 400px;
    border-radius: 20%;
    shape-outside: circle();
}
/*#endregion inex*/

.fakebutton {
    color: white;
}

.indexMadeMeCry {
    margin-top: 100px;
    margin-left: 800px;
}

.nav-center {
    margin-left: 37%;
}

.logo4port {
    height: 100px;
}

#OuterCard {
    margin-top: 100px;
    height:9%;
    width: 500px;
    border: 3px groove;
    padding: 0% 2%
}

#Image {
    width: 200px;
    height: 100%;
}

    #Image img {
        height: 80%;
        width: 80%;
        border-radius: 50%;
    }

#Fadiv {
    border: 5px solid;
    width: 660px;
    background-color: antiquewhite;
    margin-left:auto;
    margin-right:auto;
    margin-top:11%;
}

#Info {
    width: 450px;
    height: 100%;
    color: yellow
}

#email {
    font-size: 25px;
    margin-left: 10px;
    text-align: left;
    color: white;
}

#phone {
    font-size: 25px;
    margin-top: 30px;
    margin-left: 10px;
    text-align: left;
    color: white;
}

#box {
    border: 2px solid;
    height: 400px;
    width: 550px;
    background-color: black
}

.GetCentered {
    margin-left: 41%;
    margin-top: 10%;
    width: 700px;
}

.textarea_contact {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#nameCont {
}

#review {
    box-sizing: border-box;
    width: 100%;
}

#revPost {
    padding: 0% 5%;
}

.P_LOGO {
    width: 50%;
}

.centerplz2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 11%;
}
