@page
@model Clientside.Pages.AboutmeModel
@{
}
<div class="background">
    <nav class="Menu_div">
        <ul class="C_ul">
            <li class="C_li"> <a class="fakebutton" href="Index">Home</a> </li>
            <li class="C_li"><a class="fakebutton" href="Kort">Kort</a></li>
            <li class="C_li"><a class="fakebutton" href="Portfolio">Portfolio</a></li>
        </ul>

    </nav>
    <div class="Ab_div">
        <h1 style="color:white;">About Me</h1>
        <h1 class="i_h1"> Max Møenbo Larsen</h1>
    </div>

    <div class="Ab_grid-container">
        <div class="grid-item" style="margin-left:auto; margin-right:auto;">

            <p style="color:white;" class="p_ab">
                Lorem ipsum
            </p>
        </div>
        <div class="grid-item" style="margin-left:auto; margin-right:auto;">
            <p style="color:white;" class="p_ab">
                Lorem ipsum
            </p>

        </div>
    </div>
</div>