@page
@model Clientside.Pages.ContactModel
@{
}
<body class="bg-dark d-flex  align-items-center">

    <div class="container d-flex justify-content-center">
        <div class="bg-black bg-opacity-25">
            <form class="text-center align-content-center" action="/doesntworksad">
                <div class="row ">
                    <div class="col-6  w-25 m-0">
                        <label class="text-white " for="nameCont">Name</label>
                        <input class="w-75" type="text" id="nameCont" name="name" placeholder="name">
                    </div>
                    <div class=" col-6  w-25 m-0">
                        <label class="text-white " for="email2">email</label>
                        <input class="w-75" type="email" id="email2" name="email" placeholder="email">
                    </div>

                </div>
                <hr class="my-4 bg-white" />

                <label class="text-white text-center row d-block" for="subject">Subject</label>
                <textarea class="textarea_contact w-75" cols="70" id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
                <hr class="my-4 bg-white" />
                <input type="submit" value="Hire Me">
            </form>
        </div>
    </div>
</body>