@page
@model Clientside.Pages.FadModel
@{
}
<div style="border:5px solid; width:660px; background-color:antiquewhite;"> 
<div id="PortOuter">
<div id="imgPortAd">
    <img style="max-height:650px; max-width:650px" src=~/pictures/Ad1.png/>
</div>
<div id="PortAddInfo">
    <p>Fantastisk Datatekniker</p>
    <form>
        <button>
    <a href="Index">MMLData.dk</a>
        </button>
    </form>
</div>
</div>
</div>