@page
@model IndexModel
@{
    ViewData["Title"] = "";
}
<div class="background">
    <nav class="Menu_div">
        <ul class="C_ul">
            <li class="C_li"><a class="fakebutton" href="Aboutme">About Me</a></li>
            <li class="C_li"><a class="fakebutton" href="Fad">FacebookAd</a></li>
            <li class="C_li"> <a class="fakebutton" href="Kort">Kort</a> </li>
        </ul>
        <h1 class="i_h1"> Max Møenbo Larsen</h1>

    </nav>
    @*<div style="box-shadow:0px 0px 2px" class="Bar_Sep"/>
        </div>*@

    <div class="background_v_index">
        <div class="index_div_picture">
            <img class="mePicture" src="~/pictures/LUL.png" />
            <img class="cssPicture" src="~/pictures/CSS.png" />
        </div>


    </div>
</div>




