@page
@model IndexModel
@{
    ViewData["Title"] = "";
}
<body class="bg-dark bg-opacity-75">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-black bg-opacity-50">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Max M Larsen</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="nav-center text collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Aboutme">About me</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Portfolio">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="fad">Ad</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="indexMa container">
        <h1 class="text-center text-light">Welcome to my Website.</h1>
        <p class="text-center lead text-light">I made my own website so people could see what i can do. in hopes of somebody reaching out</p>
        <p class="text-center lead flex-column">
            <a href="AboutMe" class="btn btn-lg btn-secondary fw-bold border-white bg-dark">Learn more me</a>
        </p>
    </div>
</body>

<div class="bg-black bg-opacity-25 indexForm">
    <form id=revPost action="/result.php">
        <p class="text-white"><label for="review">Leave a Review:</label></p>

        <textarea form="revPost" id="review" name="review" rows="9" cols="90">Write your review here </textarea>
        <input class="m-2 w-25 btn btn-primary" type="submit" />

    </form>

</div>



<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>